repos:
    - repo: local
      hooks:
          - id: jupyter-nb-clear-output
            name: jupyter-nb-clear-output
            files: \.ipynb$
            stages: [commit]
            language: system
            entry: jupyter nbconvert --ClearOutputPreprocessor.enabled=True --inplace

    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v4.3.0
      hooks:
          - id: check-yaml
          - id: end-of-file-fixer
          - id: trailing-whitespace
    - repo: https://github.com/psf/black
      rev: 22.10.0
      hooks:
          - id: black
            args:
                - --line-length=100

    - repo: https://github.com/s-weigand/flake8-nb
      rev: v0.5.2
      hooks:
          - id: flake8-nb
            args:
                - --max-line-length=100
